@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


//Reset CSS
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header{
    background-color: #FEFEFF;
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 0% 3%;

    div{
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
    }
}
nav{
    a{
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        text-decoration: none;
        gap: 0.4rem;

        color: black;
        border: 1px solid;
        border-radius: 8px;
        padding: 8px 24px;
    }
}

body{
    background-color: #FEFEFF;
}

.produtoDestaque{
    background-color: #EAEEEF;
    margin: 5%;
    padding: 4%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    div{
        span{
            color: orange;
            font-weight: bold;
            font-size: 4rem;
            font-family: "DM Sans", sans-serif;

        }
        h2{
            font-weight: bold;
            font-size: 5rem;
            font-family: "DM Sans", sans-serif;

        }
        p{
            font-family: "Inter", sans-serif;
            color: gray;
        }
    }
    button{
        background-color: #201b21;
        padding: 20px 80px;
        border-radius: 10px;
        margin-top: 7vh;
        display: flex;
        gap: 1rem;
        align-items: center;
        span{
            color: white;
            font-weight: bold;  
            font-size: 18px;
        }
        img{
            height: 100%;
        }
    }

    img{
        height: 100%;
    }
}

.listaProduto{
    margin: 5%;
    h2{
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 35px;
        font-family: sans-serif;
    }
    .produtos{
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
        div{
            display: flex;
            flex-direction: column;
            img{
                width: 100%;
                border-radius: 8px;
                margin-bottom: 20px;
            }
            span{   
                font-weight: bold;
                margin-bottom: 10px;
            }

        }
    }
}

@media (max-width: 1200px) {
    .produtoDestaque{
        div{
            span{
                font-size: 2.3rem;
            }
            h2{
                font-size: 2.6rem;
            }
            button{
                padding: 5% 20%;
                span{
                    font-size: 18px;
                }
                img{
                    width: 20px;
                }
            }
        }
        img{
            width: 50%;
        }
    }
}


@media (max-width: 800px) {
    .produtoDestaque{
        flex-direction: column-reverse;
        align-items: center;
        div{
            text-align: center;
            button{
                margin-top: 5vh;
                justify-content: center;
                width: 80vw;
            }
        }
        img{
            width: 50%;
        }
    }
}